<?xml version="1.0" encoding="utf-8"?>
<manifest package="cs.b07.cscb07project"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ClientActivity"
            android:label="@string/title_activity_client"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.SearchFlightsActivity"
            android:label="@string/title_activity_search_flights"
            android:parentActivityName=".activities.ClientActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ClientActivity"/>
        </activity>
        <activity
            android:name=".activities.ViewFlightsActivity"
            android:label="@string/title_activity_view_flights"
            android:parentActivityName=".activities.SearchFlightsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SearchFlightsActivity"/>
        </activity>
        <activity
            android:name=".activities.AdminActivity"
            android:label="@string/title_activity_admin"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.b07.cscb07project.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.UploadFlightActivity"
            android:label="@string/title_activity_upload_flight"
            android:parentActivityName=".activities.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AdminActivity"/>
        </activity>
        <activity
            android:name=".activities.UploadClientActivity"
            android:label="@string/title_activity_upload_client"
            android:parentActivityName=".activities.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AdminActivity"/>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.AddFlightActivity"
            android:label="@string/title_activity_add_flight"
            android:parentActivityName=".activities.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AdminActivity"/>
        </activity>
        <activity
            android:name=".activities.SearchItinerariesActivity"
            android:label="@string/title_activity_search_itineraries"
            android:parentActivityName=".activities.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AdminActivity"/>
        </activity>
        <activity
            android:name=".activities.ViewItinerariesActivity"
            android:label="@string/title_activity_view_itineraries"
            android:parentActivityName=".activities.SearchItinerariesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.b07.cscb07project.activities.SearchItinerariesActivity"/>
        </activity>
        <activity
            android:name=".activities.UploadPasswordActivity"
            android:label="@string/title_activity_upload_password"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AdminActivity"/>
        </activity>
        <activity
            android:name=".activities.ViewProfileActivity"
            android:label="@string/title_activity_view_profile"
            android:parentActivityName=".activities.ClientActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ClientActivity"/>
        </activity>
        <activity
            android:name=".activities.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".activities.ViewProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ViewProfileActivity"/>
        </activity>
        <activity
            android:name=".activities.ClientBookFlightActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".activities.ViewFlightsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ViewFlightsActivity"/>
        </activity>
        <activity
            android:name=".activities.ClientBookFlightItineraryActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".activities.ViewItinerariesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ViewItinerariesActivity"/>
        </activity>
        <activity
            android:name=".activities.AdminBookFlightActivity"
            android:label="@string/title_activity_admin_book_flight"
            android:parentActivityName=".activities.ViewFlightsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.b07.cscb07project.activities.ViewFlightsActivity"/>
        </activity>
        <activity
            android:name=".activities.AdminBookFlightItineraryActivity"
            android:label="@string/title_activity_admin_book_flight_itinerary"
            android:parentActivityName=".activities.ViewItinerariesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.b07.cscb07project.activities.ViewItinerariesActivity"/>
        </activity>
        <activity
            android:name=".activities.AdminViewClientProfile"
            android:label="@string/title_activity_admin_view_client_profile"
            android:parentActivityName=".activities.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.b07.cscb07project.activities.AdminActivity"/>
        </activity>
        <activity
            android:name=".activities.ViewFlightInfoActivity"
            android:label="@string/title_activity_view_flight_info"
            android:parentActivityName=".activities.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.b07.cscb07project.activities.AdminActivity"/>
        </activity>
        <activity
            android:name=".activities.AdminViewBookedClientItineraries"
            android:label="@string/title_activity_admin_view_booked_client_itineraries"
            android:parentActivityName=".activities.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.b07.cscb07project.activities.AdminActivity"/>
        </activity>
        <activity
            android:name=".activities.ViewBookedClientItinerariesActivity"
            android:label="@string/title_activity_view_booked_client_itineraries"
            android:parentActivityName=".activities.ClientActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.b07.cscb07project.activities.ClientActivity"/>
        </activity>
    </application>

</manifest>
